/* PALETTE COLORS */
/* SOCIAL NETWORK ICON COLORS */
/* MEDIA QUERY BREAKPOINTS */
.testimonials__pic-1, .testimonials__pic-2, .testimonials__pic-3 {
  height: 35vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  @media only screen and (min-width: 576px) {
    .testimonials__pic-1, .testimonials__pic-2, .testimonials__pic-3 {
      height: 35vh;
      width: 50%;
      margin: 0 auto; } }
  @media only screen and (min-width: 768px) {
    .testimonials__pic-1, .testimonials__pic-2, .testimonials__pic-3 {
      margin: 0;
      width: 100%;
      height: 32vh; } }
  @media only screen and (min-width: 992px) {
    .testimonials__pic-1, .testimonials__pic-2, .testimonials__pic-3 {
      height: 40vh; } }
  @media only screen and (min-width: 1400px) {
    .testimonials__pic-1, .testimonials__pic-2, .testimonials__pic-3 {
      height: 42vh; } }

.big-banner {
  background-image: url("../media/kuroda-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom; }
  @media only screen and (min-width: 576px) {
    .big-banner {
      background-position: center;
      background-image: url("../media/kuroda-15.jpg"); } }
  @media only screen and (min-width: 768px) {
    .big-banner {
      background-position: center;
      background-image: url("../media/kuroda-4.jpg");
      justify-content: center;
      min-height: 80vh; } }
  @media only screen and (min-width: 992px) {
    .big-banner {
      min-height: 90vh;
      justify-content: flex-start;
      align-items: center;
      background-image: url("../media/kuroda-9.jpg");
      background-position: center; } }

.kuroda-logo {
  width: 16vh;
  padding-left: 15px; }

.testimonials__pic-1 {
  background-image: url("../media/kuroda.jpg");
  background-position: top; }
.testimonials__pic-2 {
  background-image: url("../media/1.png");
  background-size: contain; }
.testimonials__pic-3 {
  background-image: url("../media/2.png");
  background-size: contain; }

.big-logo-container {
  width: 33%;
  margin-top: 8vh; }
  @media only screen and (min-width: 576px) {
    .big-logo-container {
      margin-left: 30px; } }

@media only screen and (min-width: 992px) {
  .requisitos__bg {
    background-image: url("../media/kuroda-10.jpg");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat; } }

@media only screen and (min-width: 768px) {
  .contacto__bg {
    background: linear-gradient(rgba(255, 255, 255, 0.4)), url("../media/kuroda-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top; } }
@media only screen and (min-width: 992px) {
  .contacto__bg {
    background-position: center;
    background-attachment: fixed; } }

.vale-mas-logo {
  display: none; }
  @media only screen and (min-width: 992px) {
    .vale-mas-logo {
      display: inline-flex;
      width: 75%; } }

.testimonialSwiper .swiper-container {
  width: 100%;
  height: 100%; }

.testimonialSwiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: auto; }
  @media only screen and (min-width: 576px) {
    .testimonialSwiper .swiper-slide {
      border: 1px solid rgba(20, 20, 20, 0.1);
      box-shadow: 0px 2px 4px rgba(20, 20, 20, 0.18); } }

.testimonialSwiper .swiper-wrapper {
  padding-bottom: 24px; }

.hide {
  display: none; }

.input {
  width: 100%;
  padding: 3px 5px;
  font-size: 17px;
  border: 1px solid rgba(20, 20, 20, 0.15);
  border-radius: 3px; }
  @media only screen and (min-width: 768px) {
    .input {
      font-size: 17.5px; } }

.label {
  display: block;
  align-self: flex-start;
  padding-bottom: 4px;
  font-size: 16.5px; }
  @media only screen and (min-width: 768px) {
    .label {
      font-size: 2.2vh; } }
  @media only screen and (min-width: 992px) {
    .label {
      font-size: 2.4vh; } }
  @media only screen and (min-width: 1400px) {
    .label {
      font-size: 2.6vh; } }

.form-container {
  padding-bottom: 25px; }
  @media only screen and (min-width: 992px) {
    .form-container {
      padding: 0; } }

.form__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0; }

form {
  width: 100%;
  color: #FFFFFF;
  padding: 0 16px; }

form > ul {
  list-style: none; }

.button-container {
  display: inline-flex;
  justify-content: center;
  width: 100%; }

.button {
  font-size: 17px;
  padding: 8px 0;
  margin-top: 15px;
  margin-bottom: 20px;
  border: none;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  width: 100%; }
  @media only screen and (min-width: 992px) {
    .button {
      width: 50%; } }

.submit {
  background-color: #028727;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold; }
  @media only screen and (min-width: 992px) {
    .submit {
      transition: 0.2s ease;
      font-size: 20px; } }

@media only screen and (min-width: 992px) {
  .submit:hover {
    transition: 0.3s ease;
    cursor: pointer;
    transition: 0.2s ease;
    background-color: #015418; } }

form > span {
  display: block;
  font-size: 14px; }

.navbar {
  width: 100%;
  justify-content: space-between;
  align-items: center; }

.big-banner {
  width: 100%;
  min-height: 85vh;
  justify-content: center; }

.navbar__link {
  display: none; }
  @media only screen and (min-width: 992px) {
    .navbar__link {
      display: inline-flex;
      text-decoration: none;
      color: #141414;
      align-self: center;
      font-size: 24px;
      font-weight: bold;
      padding: 8px 16px;
      transition: 0.2s ease; } }

.navbar__options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.navbar__social {
  display: none; }
  @media only screen and (min-width: 992px) {
    .navbar__social {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .navbar__social .navbar__social-network {
        padding: 8px;
        font-size: 18px; }
        .navbar__social .navbar__social-network.--youtube {
          color: #FF0000; }
        .navbar__social .navbar__social-network.--facebook {
          color: #3b5998; }
        .navbar__social .navbar__social-network.--twitter {
          color: #0084b4; }
        .navbar__social .navbar__social-network.--instagram {
          color: #9b6954; }
        .navbar__social .navbar__social-network.--radio {
          color: #028727; } }

.navbar__mobile {
  font-size: 15px;
  font-weight: bolder;
  margin-right: 16px;
  padding: 8px 15px;
  border: 1px solid rgba(255, 79, 80, 0.2);
  color: #A11213;
  text-decoration: none; }
  @media only screen and (min-width: 992px) {
    .navbar__mobile {
      display: none; } }

.big-banner__container {
  width: 92%;
  text-align: center;
  padding-top: 9vh; }

.big-banner__title {
  font-size: 52px;
  padding: 8px 0;
  color: #FFFFFF;
  background-color: rgba(20, 20, 20, 0.1); }
  .big-banner__title span {
    color: #e6cc00; }

@media only screen and (min-width: 992px) {
  .navbar__link:hover {
    transition: 0.2s ease;
    background-color: #b20000;
    color: #FFFFFF; } }

@media only screen and (min-width: 576px) {
  .big-banner--responsive {
    justify-content: flex-end;
    align-items: center; } }
@media only screen and (min-width: 768px) {
  .big-banner--responsive {
    min-height: 80vh;
    justify-content: center; } }
@media only screen and (min-width: 992px) {
  .big-banner--responsive {
    min-height: 85vh;
    justify-content: flex-start; } }

@media only screen and (min-width: 576px) {
  .big-banner__title--theme {
    background-color: rgba(20, 20, 20, 0.6); } }
@media only screen and (min-width: 768px) {
  .big-banner__title--theme {
    font-size: 62px;
    padding: 10px 12px;
    background-color: rgba(20, 20, 20, 0.4); } }
@media only screen and (min-width: 992px) {
  .big-banner__title--theme {
    font-size: 50px;
    background-color: #A11213;
    border-radius: 0 20px 20px 0;
    border-bottom: 0 none;
    box-shadow: 0 10px 6px -6px #141414; } }
@media only screen and (min-width: 1400px) {
  .big-banner__title--theme {
    text-align: center;
    font-size: 56px;
    padding: 10px 25px; } }

@media only screen and (min-width: 576px) {
  .big-banner__container--responsive {
    margin: 0;
    padding: 0;
    width: 35%;
    text-align: right; } }
@media only screen and (min-width: 768px) {
  .big-banner__container--responsive {
    width: 650px;
    padding-bottom: 8vh;
    text-align: center; } }
@media only screen and (min-width: 992px) {
  .big-banner__container--responsive {
    width: 400px;
    padding-top: 9vh; } }
@media only screen and (min-width: 1400px) {
  .big-banner__container--responsive {
    width: 450px; } }

.section {
  width: 90%;
  min-height: 50vh;
  margin: 0 auto;
  padding-bottom: 50px;
  border-top: 1px solid rgba(20, 20, 20, 0.1); }

.section__title {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 16px;
  text-align: center;
  font-size: 6.6vh; }

.section__overall {
  padding: 8px 0;
  text-align: center;
  font-size: 2.9vh;
  line-height: 135%; }

@media only screen and (min-width: 768px) {
  .section--responsive {
    min-height: 70vh; } }
@media only screen and (min-width: 992px) {
  .section--responsive {
    margin: 0;
    width: 100%;
    min-height: 80vh;
    padding-left: 5vh;
    padding-right: 5vh; } }

@media only screen and (min-width: 576px) {
  .section__title--responsive {
    font-size: 10vh; } }
@media only screen and (min-width: 768px) {
  .section__title--responsive {
    font-size: 6.8vh; } }
@media only screen and (min-width: 992px) {
  .section__title--responsive {
    text-align: left;
    font-size: 7vh; } }
@media only screen and (min-width: 1400px) {
  .section__title--responsive {
    font-size: 7.2vh; } }

@media only screen and (min-width: 576px) {
  .section__overall--responsive {
    font-size: 5vh; } }
@media only screen and (min-width: 768px) {
  .section__overall--responsive {
    text-align: justify;
    font-size: 3vh; } }
@media only screen and (min-width: 992px) {
  .section__overall--responsive {
    font-size: 3.3vh;
    text-align: justify; } }
@media only screen and (min-width: 1400px) {
  .section__overall--responsive {
    margin: 0;
    font-size: 3.5vh; } }

.program {
  justify-content: space-between; }

.program__container {
  text-align: center;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 15px;
  margin: 5px auto; }

.program__icon {
  font-size: 11vh;
  color: #b20000; }

.program__title {
  padding-top: 5px;
  font-size: 4.7vh;
  line-height: 100%;
  padding-bottom: 8px;
  color: #A11213; }

.program__description {
  font-size: 2.8vh; }

@media only screen and (min-width: 576px) {
  .program__container--responsive {
    width: 31%; } }
@media only screen and (min-width: 768px) {
  .program__container--responsive {
    width: 60%;
    padding-top: 18px; } }
@media only screen and (min-width: 992px) {
  .program__container--responsive {
    width: 30%; } }

@media only screen and (min-width: 576px) {
  .program__icon--responsive {
    font-size: 17vh; } }
@media only screen and (min-width: 768px) {
  .program__icon--responsive {
    font-size: 12vh; } }
@media only screen and (min-width: 992px) {
  .program__icon--responsive {
    font-size: 13vh; } }
@media only screen and (min-width: 1400px) {
  .program__icon--responsive {
    font-size: 14vh; } }

@media only screen and (min-width: 576px) {
  .program__title--responsive {
    font-size: 6.4vh; } }
@media only screen and (min-width: 768px) {
  .program__title--responsive {
    font-size: 4.4vh; } }
@media only screen and (min-width: 992px) {
  .program__title--responsive {
    font-size: 4.6vh; } }
@media only screen and (min-width: 1400px) {
  .program__title--responsive {
    font-size: 5vh; } }

@media only screen and (min-width: 576px) {
  .program__description--responsive {
    font-size: 4.4vh; } }
@media only screen and (min-width: 768px) {
  .program__description--responsive {
    font-size: 2.8vh; } }
@media only screen and (min-width: 992px) {
  .program__description--responsive {
    font-size: 3.1vh;
    width: 87%;
    margin: 0 auto; } }
@media only screen and (min-width: 1400px) {
  .program__description--responsive {
    font-size: 3vh;
    width: 80%; } }

.requirements {
  color: #141414;
  text-align: justify; }
  @media only screen and (min-width: 992px) {
    .requirements {
      width: 60%; } }
  @media only screen and (min-width: 1400px) {
    .requirements {
      width: 65%; } }

.requirements__list {
  list-style: none; }

.requirements__item {
  font-size: 2.9vh;
  line-height: 140%;
  padding: 10px 0; }

.requirements__item > i {
  width: 50px;
  font-size: 4vh;
  padding-right: 20px;
  text-align: center; }

#requirements {
  align-content: flex-start; }

@media only screen and (min-width: 576px) {
  .requirements__item--responsive {
    font-size: 5vh; } }
@media only screen and (min-width: 768px) {
  .requirements__item--responsive {
    padding: 15px 0;
    font-size: 3vh; } }
@media only screen and (min-width: 992px) {
  .requirements__item--responsive {
    padding: 12px 0;
    font-size: 3.3vh; } }
@media only screen and (min-width: 1400px) {
  .requirements__item--responsive {
    padding: 8px 0;
    font-size: 3.5vh; } }

@media only screen and (min-width: 768px) {
  .requirements__item > i {
    width: 80px;
    padding-right: 40px; } }
@media only screen and (min-width: 1400px) {
  .requirements__item > i {
    padding-right: 50px; } }

.testimonials {
  padding: 8px 12px;
  width: 100%; }

figcaption {
  font-weight: bold;
  font-size: 3.2vh;
  padding-top: 12px;
  padding-bottom: 3px;
  text-align: center; }

.testimonials__text {
  text-align: justify;
  color: #141414;
  font-size: 2.7vh;
  font-style: italic;
  width: 100%; }

@media only screen and (min-width: 576px) {
  .testimonials__text--responsive {
    font-size: 4.2vh; } }
@media only screen and (min-width: 768px) {
  .testimonials__text--responsive {
    font-size: 2.4vh; } }
@media only screen and (min-width: 992px) {
  .testimonials__text--responsive {
    font-size: 2.6vh;
    font-weight: 500; } }
@media only screen and (min-width: 1400px) {
  .testimonials__text--responsive {
    font-size: 2.8vh; } }

@media only screen and (min-width: 576px) {
  figcaption {
    font-size: 5.2vh; } }
@media only screen and (min-width: 768px) {
  figcaption {
    font-size: 26px; } }
@media only screen and (min-width: 992px) {
  figcaption {
    font-size: 20px; } }
@media only screen and (min-width: 1400px) {
  figcaption {
    font-size: 22px; } }

.contact {
  width: 95%;
  margin: 0 auto;
  padding: 12px;
  font-size: 2.8vh;
  background-color: #b20000;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px; }

.contact__title {
  text-align: center;
  padding: 2px 0;
  font-size: 4.2vh;
  font-weight: bold;
  color: #FFFFFF; }

#contact {
  align-content: flex-start; }
  @media only screen and (min-width: 768px) {
    #contact {
      border: none;
      height: 95vh; } }

@media only screen and (min-width: 768px) {
  .contact--responsive {
    width: 70%; } }
@media only screen and (min-width: 992px) {
  .contact--responsive {
    width: 500px; } }

@media only screen and (min-width: 576px) {
  .contact__title--responsive {
    font-size: 5.8vh; } }
@media only screen and (min-width: 768px) {
  .contact__title--responsive {
    font-size: 4.2vh; } }
@media only screen and (min-width: 992px) {
  .contact__title--responsive {
    font-size: 4.4vh; } }
@media only screen and (min-width: 1400px) {
  .contact__title--responsive {
    font-size: 4.6vh; } }

.footer {
  width: 100%;
  margin: 0 auto;
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-shrink: 0; }

.copyright {
  display: block;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  padding: 15px 0;
  font-size: 16px;
  font-weight: 100; }
  @media only screen and (min-width: 1400px) {
    .copyright {
      padding-top: 8px;
      padding-bottom: 12px;
      padding-left: 15px;
      padding-right: 15px; } }

.slogan {
  width: 100%;
  font-size: 17px;
  font-weight: 500;
  font-style: italic;
  padding: 8px 12px; }

.footer__block {
  width: 200px;
  text-align: center;
  margin: 0 auto;
  padding-top: 8px; }

.footer__logo {
  width: 90%; }

.footer__options {
  list-style-type: none; }

.footer__options > li {
  padding: 8px 0; }

.footer__link {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: lighter;
  font-size: 15px; }

.footer__title {
  color: #FFFFFF;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 300; }

.footer--theme {
  background-color: #141414; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  font-family: 'Lato', sans-serif; }

body {
  position: relative; }

.navbar, .big-banner, .section, .program {
  display: flex;
  flex-wrap: wrap; }

#my-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

#my-content {
  flex: 1; }

#my-menu:not(.mm-menu) {
  display: none; }

/*# sourceMappingURL=style.css.map */
