%section {
    width: 100%;
    text-align: center;
    padding: {
        top: 20px;
        bottom: 30px;
    }
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 92vh;
    border: 1px solid black;
}

%section__titles {
    // text-align: center;
    width: 100%;
    align-self: flex-start;
    padding: {
        top: 10px; // bottom: 15px;
    }
    font-size: 6.8vh;
    @include responsive(s) {
        font-size: 7vh;
    }
    @include responsive(m) {
        font-size: 7.2vh;
    }
    @include responsive(l) {
        font-size: 7.4vh;
    }
    @include responsive(xl) {
        font-size: 7.6vh;
    }
}

// BLOCK
.program {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.big-title-container {
    // display: flex;
    z-index: 9999;
    width: 80%;
    margin-top: 16vh;
    margin-left: 15px;
    @include responsive(s) {
        width: 450px;
        margin-left: 30px;
    }
    @include responsive(m) {
        width: 550px;
    }
    @include responsive(xl) {
        width: 650px;
    }
}

.big-title {
    font-size: 55px;
    color: #000;
    @include responsive(s) {
        font-size: 60px;
    }
    @include responsive(m) {
        font-size: 65px;
    }
    @include responsive(l) {
        font-size: 75px;
    }
    @include responsive(xl) {
        font-size: 80px;
    }
}

#programa {
    @extend %section;
    background-color: #fefefe;
    justify-content: center;
    @include responsive(s) {}
    @include responsive(m) {
        justify-content: space-around;
    }
}

#requisitos {
    @extend %section;
    // background-color: $light-green;
}

#contacto {
    @extend %section;
    background-color: $black;
}

.testimonials {
    // text-align: center;
    padding: 12px;
    width: 100%;
    @include responsive(l) {
        width: 800px;
        padding: 0;
    }
}

// ELEMENT
.testimonials__box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
}

.testimonials__title {
    font-size: 4.6vh;
    padding-bottom: 12px;
}

.testimonials__text {
    padding: 8px;
    font-size: 2.6vh;
    text-align: justify;
    font: {
        style: italic;
    }
}

figcaption {
    font: {
        size: 22px;
        weight: bold;
    }
    padding-top: 5px;
}

.program__container {
    // text-align: center;
    // padding-bottom: 15px;
    width: 90%;
    padding: {
        right: 5px;
        left: 5px;
        bottom: 15px;
    }
    @include responsive(s) {
        width: 85%;
    }
    @include responsive(m) {
        // width: 220px;
        width: 30%;
    } // @include responsive(l) {
    //     width: 290px;
    // }
    // @include responsive(xl) {
    //     width: 350px;
    // }
}

.contact__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-items: flex-end;
}

.contact__book {
    text-align: justify;
    width: 90%;
    font-size: 2.8vh;
    @include responsive(l) {
        width: 400px;
    }
}

.program__icon {
    font-size: 15.5vh;
    @include responsive(s) {
        font-size: 16vh;
    }
    @include responsive(m) {
        font-size: 16.5vh;
    }
    @include responsive(l) {
        font-size: 17vh;
    }
    @include responsive(xl) {
        font-size: 17.5vh;
    }
}

.program__big-title {
    @extend %section__titles;
    @include responsive(l) {
        padding-left: 8vh;
        text-align: left;
    }
}

.requirements__big-title {
    @extend %section__titles;
    @include responsive(l) {
        // text-align: center;
    }
}

.contact__big-title {
    @extend %section__titles;
    @include responsive(l) {
        padding-right: 8vh;
        text-align: right;
    }
}

.program__header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.program__title {
    padding: {
        top: 5px;
        bottom: 15px;
    }
    font-size: 5.2vh;
    @include responsive(s) {
        font-size: 5.4vh;
    }
    @include responsive(l) {
        font-size: 5.6vh;
    }
    @include responsive(xl) {
        font-size: 6vh;
    }
}

.program__description {
    font-size: 2.5vh;
    text-align: justify;
    @include responsive(s) {
        font-size: 2.7vh;
    }
    @include responsive(m) {
        font-size: 2.9vh;
        text-align: center;
    }
    @include responsive(l) {
        font-size: 3.1vh;
    }
    @include responsive(xl) {
        font-size: 3.3vh;
    }
}

%__overall {
    width: 90%;
    padding: 10px 0;
    text-align: justify;
}

.program__overall {
    @extend %__overall;
    margin: 0 auto;
    line-height: 135%;
    font-size: 3vh;
    @include responsive(l) {
        // padding: 20px 8vh;
        padding: {
            top: 20px;
            left: 8vh;
            right: 8vh;
        }
        margin: 0;
    }
    @include responsive(xl) {
        width: 85%;
    }
}

.requirements__overall {
    @extend %__overall;
    margin: 0 auto;
    font-size: 3.2vh;
    @include responsive(m) {
        text-align: center;
    }
    @include responsive(l) {
        width: 965px;
        padding-top: 20px;
    }
}

.requirements {
    width: 85%;
    text-align: justify;
    margin: 0 auto;
    @include responsive(s) {
        width: 80%;
    }
    @include responsive(l) {
        width: auto;
    }
}

.requirements__list {
    list-style: none;
}

.requirements__item {
    font-size: 3.2vh;
    line-height: 120%;
    padding: 10px 0;
    @include responsive(l) {
        padding: 12px 0;
    }
    @include responsive(xl) {
        padding: 8px 0;
    }
}

.requirements__item>i {
    font-size: 4vh;
    padding-right: 20px;
    @include responsive(l) {}
    @include responsive(xl) {
        padding-right: 50px;
    }
}

// MOD