%section {
    width: 100%;
    text-align: center;
    padding: {
        top: 20px;
        bottom: 30px;
    }
    display: flex;
    flex-wrap: wrap;
    min-height: 90vh;
    border: 1px solid rgba($color: $black, $alpha: 0.5)
}

%section__titles {
    // text-align: center;
    width: 100%;
    align-self: flex-start;
    padding: {
        top: 10px; // bottom: 15px;
    }
    font-size: 7vh;
    @include responsive(m) {
        font-size: 7.2vh;
    }
    @include responsive(l) {
        font-size: 7.4vh;
    }
    @include responsive(xl) {
        font-size: 7.6vh;
    }
}

// BLOCK
.big-title-container {
    display: flex;
    width: 275px;
    margin-top: 16vh;
    @include responsive(s) {
        width: 450px;
        margin-left: 100px;
    }
    @include responsive(m) {
        width: 500px;
    }
    @include responsive(xl) {
        width: 650px;
    }
}

.big-title {
    font-size: 55px;
    color: #000;
    @include responsive(s) {
        font-size: 60px;
    }
    @include responsive(m) {
        font-size: 75px;
    }
    @include responsive(l) {
        font-size: 80px;
    }
    @include responsive(xl) {
        font-size: 95px;
    }
}

#programa {
    @extend %section;
    background-color: #fefefe;
    justify-content: center;
    @include responsive(s) {}
    @include responsive(m) {
        justify-content: space-around; // align-content: center;
    }
}

#requisitos {
    @extend %section;
}

#contacto {
    @extend %section;
}

.testimonials {
    // text-align: center;
    padding: 12px;
    width: 100%;
    @include responsive(l) {
        width: 800px;
        padding: 0;
    }
}

// ELEMENT
.testimonials__box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
}

.testimonials__title {
    font-size: 4.6vh;
    padding-bottom: 8px;
}

.testimonials__text {
    padding: 8px;
    font-size: 2.6vh;
    text-align: justify;
    font: {
        style: italic;
    }
}

figcaption {
    font: {
        size: 22px;
        weight: bold;
    }
    padding-top: 5px;
}

.program__container {
    // text-align: center;
    padding-bottom: 15px;
    width: 90%;
    @include responsive(s) {
        width: 85%;
    }
    @include responsive(m) {
        // width: 220px;
        width: 30%;
    } // @include responsive(l) {
    //     width: 290px;
    // }
    // @include responsive(xl) {
    //     width: 350px;
    // }
}

.contact__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-items: flex-end;
}

.contact__book {
    text-align: justify;
    width: 90%;
    font-size: 2.8vh;
    @include responsive(l) {
        width: 400px;
    }
}

.program__icon {
    font-size: 18vh;
    @include responsive(s) {
        font-size: 18.5vh;
    }
    @include responsive(m) {
        font-size: 19vh;
    }
    @include responsive(l) {
        font-size: 19.5vh;
    }
    @include responsive(xl) {
        font-size: 20vh;
    }
}

.program__big-title {
    @extend %section__titles;
    @include responsive(l) {
        padding-left: 8vh;
        text-align: left;
    }
}

.requirements__big-title {
    @extend %section__titles;
    @include responsive(l) {
        // text-align: center;
    }
}

.contact__big-title {
    @extend %section__titles;
    @include responsive(l) {
        padding-right: 8vh;
        text-align: right;
    }
}

.program__title {
    padding: {
        top: 5px;
        bottom: 15px;
    }
    font-size: 5.6vh;
    @include responsive(m) {
        font-size: 5.8vh;
    }
    @include responsive(l) {
        font-size: 6vh;
    }
    @include responsive(xl) {
        font-size: 6.2vh;
    }
}

.program__description {
    font-size: 2.6vh;
}

// MOD