// BLOCK
.contact {
    width: 95%;
    margin: 0 auto;
    padding: 12px;
    font-size: 2.8vh; // background-color: #b20000;
    // box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

// ELEMENT
.contact__title {
    text-align: center;
    padding: {
        top: 12px;
        bottom: 2px;
    }
    font: {
        size: 4.2vh;
        weight: bold;
    }
    color: $white;
}

.contact__book {
    margin-bottom: 15px;
}

.contact__book>ul {
    list-style: none;
}

.contact__subtitle {
    padding-bottom: 5px;
    font-size: 3.5vh;
}

.contact__mean {
    text-decoration: none;
    color: $black;
    display: inline-block;
    font-size: 2.8vh;
    padding: 3px 0;
}

// MOD
.contact__book {
    @include responsive(s) {}
    @include responsive(m) {}
    @include responsive(l) {}
    @include responsive(xl) {}
}

.contact__subtitle {
    @include responsive(s) {
        font-size: 7vh;
    }
    @include responsive(m) {
        font-size: 3.6vh;
    }
    @include responsive(l) {
        font-size: 3.8vh;
    }
    @include responsive(xl) {
        font-size: 4vh;
    }
}

.contact__mean {
    @include responsive(s) {
        font-size: 4.6vh;
        padding: 5px 0;
    }
    @include responsive(m) {
        font-size: 2.8vh;
    }
    @include responsive(l) {
        font-size: 2.9vh;
    }
    @include responsive(xl) {
        font-size: 3.1vh;
    }
}

#contact {
    align-content: flex-start;
    width: 100%;
    @include responsive(m) {
        border: none;
        min-height: 95vh;
        padding: 0;
    }
}

#contact>.section__title {
    @include responsive(l) {
        padding-left: 5vh;
    }
}

.contact--responsive {
    @include responsive(s) {
        width: 80%;
    }
    @include responsive(m) {
        width: 70%;
    }
    @include responsive(l) {
        margin: 0;
        width: 500px;
        padding: {
            left: 5vh;
            right: 5vh;
            bottom: 5vh;
        }
    }
}

.contact__title--responsive {
    @include responsive(s) {
        font-size: 5.8vh;
    }
    @include responsive(m) {
        font-size: 4.2vh;
    }
    @include responsive(l) {
        font-size: 4.4vh;
    }
    @include responsive(xl) {
        font-size: 4.6vh;
    }
}