.header {
    width: 100%;
    min-height: 85vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: {
        image: url('../media/kuroda-3.jpg');
        repeat: no-repeat;
        size: cover;
        position: bottom;
    }
    @include responsive(s) {
        background-position: center;
    }
    @include responsive(m) {
        background: {
            image: url('../media/kuroda-3.jpg');
            position-x: center;
            position-y: bottom;
        }
        min-height: 90vh;
        align-items: flex-end;
    }
    @include responsive(l) {
        min-height: 92vh;
        justify-content: flex-start; // align-items: center;
        background: {
            image: url('../media/kuroda-5.jpg');
            position: center;
        }
    }
}

.big-title-container {
    width: 92%;
    text-align: center;
    padding-top: 9vh;
    @include responsive(s) {
        margin: 0;
        width: 450px;
        padding-top: 12vh;
    }
    @include responsive(m) {
        width: 600px;
        padding-bottom: 10vh;
    }
    @include responsive(l) {
        padding: 0; // padding-bottom: 6vh;
        width: 500px;
    }
}

.contact__book>.avatar-container {
    text-align: center;
}

.big-title {
    font-size: 52px;
    padding: 8px 0;
    color: $white;
    background-color: rgba($color: $black, $alpha: 0.1);
    span {
        color: $mid-yellow;
    }
    @include responsive(s) {
        font-size: 57px;
        padding: 10px 0;
        background-color: rgba($color: $black, $alpha: 0.4);
    }
    @include responsive(m) {
        font-size: 62px;
        padding: 10px 12px;
    }
    @include responsive(l) {
        font-size: 65px;
        background-color: $dark-red;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom: 0 none;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    }
    @include responsive(xl) {
        text-align: center;
        font-size: 64px;
        padding: 10px 25px;
    }
}

%section {
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    min-height: 50vh;
    padding: {
        top: 12px;
    }
    @include responsive(m) {
        min-height: 82vh;
    }
    @include responsive(xl) {
        min-height: 82vh;
        padding: {
            top: 20px;
            bottom: 30px;
            left: 8vh;
            right: 8vh;
        }
    }
}

%section__titles {
    width: 100%;
    padding: {
        bottom: 12px;
    }
    font-size: 6.8vh;
    @include responsive(s) {
        font-size: 7vh;
    }
    @include responsive(m) {
        font-size: 7.2vh;
    }
    @include responsive(l) {
        font-size: 7.4vh;
    }
    @include responsive(xl) {
        font-size: 7.6vh;
    }
}

// BLOCK
.program {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#programa {
    @extend %section;
    background-color: #fefefe;
    justify-content: center;
    border-bottom: 1px solid rgba($color: $black, $alpha: 0.3);
    width: 95%;
    margin: 0 auto;
    @include responsive(s) {}
    @include responsive(m) {
        justify-content: space-around;
        border: none;
    }
}

#requisitos {
    @extend %section;
    border-bottom: 1px solid rgba($color: $black, $alpha: 0.3);
    @include responsive(m) {
        border: none;
    }
    @include responsive(xl) {
        padding-left: 30px;
    }
}

#contacto {
    @extend %section;
}

// ELEMENT
.testimonials {
    width: 95%;
    margin: 0 auto;
    @include responsive(s) {
        width: 70%;
    }
    @include responsive(m) {
        width: 45%;
    }
    @include responsive(l) {
        width: 50%;
    }
    @include responsive(xl) {
        margin: 0;
        border: none;
        color: $white;
        background-color: rgba($color: #404040, $alpha: 0.8);
        width: 45%;
        padding: 12px;
    }
}

.testimonials__title {
    font-size: 4.6vh;
    text-align: center;
    padding-bottom: 16px;
}

.testimonials__box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    @include responsive(xl) {
        width: 80%;
    }
}

.testimonials__text {
    font-size: 2.6vh;
    padding: 5px;
    font: {
        style: italic;
    }
    text-align: justify;
    @include responsive(xl) {
        padding: {
            top: 10px;
            left: 20px;
            right: 20px;
        }
    }
}

figcaption {
    font: {
        size: 22px;
        weight: bold;
    }
    padding-top: 5px;
}

.program__container {
    text-align: center; // padding-bottom: 15px;
    padding: {
        right: 5px;
        left: 5px;
        bottom: 15px;
    }
    margin: 0 auto;
    @include responsive(s) {
        width: 50%;
    }
    @include responsive(m) {
        width: 30%;
    }
}

.contact__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: flex-end; // padding: 0 8vh;
}

.contact__title {
    color: $white;
    text-align: center;
    padding: 2px 0;
}

.contact__book {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    text-align: justify;
    width: 100%;
    padding: 12px;
    font-size: 2.8vh;
    background-color: #b20000;
    @include responsive(s) {
        width: 70%;
    }
    @include responsive(m) {
        width: 45%;
    }
    @include responsive(l) {
        width: 33%;
    }
    @include responsive(xl) {
        width: 25%;
    }
}

.program__icon {
    font-size: 13.5vh;
    @include responsive(s) {
        font-size: 14vh;
    }
    @include responsive(m) {
        font-size: 14.5vh;
    }
    @include responsive(l) {
        font-size: 15vh;
    }
    @include responsive(xl) {
        font-size: 15.5vh;
    }
}

.program__big-title {
    @extend %section__titles;
    @include responsive(m) {
        text-align: left;
    }
}

.requirements__big-title {
    @extend %section__titles;
    color: $white;
    @include responsive(m) {
        text-align: center;
    }
    @include responsive(l) {
        color: $black;
    }
}

.contact__big-title {
    @extend %section__titles;
    @include responsive(m) {
        text-align: right;
    }
}

.program__header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.program__title {
    padding: {
        top: 5px;
        bottom: 15px;
    }
    font-size: 4.7vh;
    @include responsive(s) {
        font-size: 5.2vh;
    }
    @include responsive(l) {
        font-size: 5.4vh;
    }
    @include responsive(xl) {
        font-size: 5.8vh;
    }
}

.program__description {
    font-size: 2.8vh;
    @include responsive(s) {
        font-size: 2.7vh;
    }
    @include responsive(m) {
        font-size: 2.9vh;
    }
    @include responsive(l) {
        font-size: 3.1vh;
    }
    @include responsive(xl) {
        font-size: 3.3vh;
    }
}

%__overall {
    padding: 5px 0;
    text-align: justify; // width: 90%;
    margin: 0 auto;
    @include responsive(xl) {
        margin: 0;
        width: 100%;
    }
}

.program__overall {
    @extend %__overall;
    margin: 0 auto;
    line-height: 135%;
    font-size: 3vh;
    width: 90%;
    @include responsive(s) {
        margin: 0;
        width: auto;
    }
}

.requirements__overall {
    @extend %__overall; // margin: 0 auto;
    font-size: 3vh; // @include responsive(m) {
    //     text-align: center;
    // }
    @include responsive(l) {
        text-align: left;
    }
}

.requirements {
    width: 90%;
    color: $white;
    margin: 0 auto;
    text-align: justify;
    @include responsive(s) {
        width: 80%;
    }
    @include responsive(m) {
        margin: 0;
        text-align: justify;
        width: 400px;
        padding: 5px 12px;
        margin-left: 2.5vh;
    }
    @include responsive(l) {
        width: 50%;
        color: $black;
    }
    @include responsive(xl) {
        width: 75%;
    }
}

.requirements__list {
    list-style: none;
}

.requirements__item {
    font-size: 3vh;
    line-height: 120%;
    padding: 10px 0;
    @include responsive(l) {
        padding: 12px 0;
    }
    @include responsive(xl) {
        padding: 8px 0;
    }
}

.requirements__item>i {
    width: 50px;
    font-size: 4vh;
    padding-right: 20px;
    text-align: center;
    @include responsive(l) {}
    @include responsive(xl) {
        padding-right: 50px;
    }
}

// MOD