// BLOCK
.footer {
    width: 100%;
    margin: 0 auto;
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-shrink: 0;
}

.copyright {
    display: block;
    width: 100%;
    text-align: center;
    color: $white;
    padding: 15px 0;
    font-size: 16px;
    font-weight: 100;
    @include responsive(xl) {
        padding: {
            top: 8px;
            bottom: 12px;
            left: 15px;
            right: 15px;
        }
    }
}

.slogan {
    width: 100%;
    font: {
        size: 17px;
        weight: 500;
        style: italic;
    }
    padding: 8px 12px;
}

// ELEMENT
.footer__block {
    width: 200px;
    text-align: center;
    margin: 0 auto;
    padding-top: 8px; // @include responsive(s) {
    //     width: 0;
    //     flex: 50%;
    // }
    // @include responsive(m) {
    //     flex: percentage($number: 1/3);
    // }
}
.footer__logo {
    width: 90%; 
}

.footer__options {
    list-style-type: none;
}

.footer__options>li {
    padding: 8px 0;
}

.footer__link {
    color: $white;
    text-decoration: none;
    font-weight: lighter; // font-family: 'Merriweather', serif;
    font-size: 15px;
}

.footer__title {
    color: $white;
    padding: 10px 0;
    font: {
        size: 18px;
        weight: 300;
    }
}

// MOD
.footer--theme {
    background-color: $black;
}

// RESPONSIVE