.hide {
    display: none;
}

.input {
    width: 100%;
    padding: 3px 5px;
    font-size: 17px;
    border: 1px solid rgba($color: $black, $alpha: 0.15);
    border-radius: 3px;
    @include responsive(m) {
        font-size: 17.5px;
    }
}

.label {
    display: block;
    align-self: flex-start;
    padding-bottom: 4px;
    font-size: 16.5px;
    @include responsive(m) {
        font-size: 2.2vh;
    }
    @include responsive(l) {
        font-size: 2.4vh;
    }
    @include responsive(xl) {
        font-size: 2.6vh;
    }
}

.form-container {
    padding-bottom: 25px;
    @include responsive(l) {
        padding: 0;
    }
}

.form__item {
    display: flex;
    flex: {
        direction: column;
        wrap: wrap;
    }
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

form {
    width: 100%;
    color: $white;
    padding: 0 16px;
}

form>ul {
    list-style: none;
}

form>ul>li {
    @include responsive(m) {}
}

.button-container {
    display: inline-flex;
    justify-content: center;
    width: 100%; // background-color: white;
}

.button {
    font: {
        size: 17px;
    }
    padding: 8px 0;
    margin-top: 15px;
    border: none;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);

    width: 100%;
    @include responsive(l) {
        width: 50%;
    }
}

.submit {
    background-color: $light-green;
    color: $white;
    font: {
        size: 18px;
        weight: bold;
    }
    @include responsive(l) {
        transition: 0.2s ease;
    }
}

.submit:hover {
    @include responsive(l) {
        transition: 0.3s ease;
        cursor: pointer;
        transition: 0.2s ease;
        background-color: $dark-green;
    }
}

// input[type=submit] {
//     background-color: black;
// }