//BLOCK 
.navbar {
    @extend %flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.big-banner {
    @extend %flex;
    @extend %big-banner__img;
    width: 100%;
    min-height: 85vh;
    justify-content: center;
}

// ELEMENT
.navbar__link {
    display: none;
    @include responsive(l) {
        display: inline-flex;
        text-decoration: none;
        color: $black;
        align-self: center;
        font: {
            size: 24px;
            weight: bold;
        }
        padding: 8px 16px;
        transition: 0.2s ease;
    }
}

.navbar__options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navbar__social {
    display: none;
    @include responsive(l) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .navbar__social-network {
            padding: 8px;
            font-size: 18px;
            &.--youtube {
                color: $youtube-icon-color;
            }
            &.--facebook {
                color: $fb-icon-color;
            }
            &.--twitter {
                color: $twitter-icon-color;
            }
            &.--instagram {
                color: $instagram-icon-color;
            }
            &.--radio {
                color: $light-green;
            }
        }
    }
}

.navbar__mobile {
    font: {
        size: 15px;
        weight: bolder;
    }
    margin-right: 16px;
    padding: 8px 15px;
    border: 1px solid rgba($color: $light-red, $alpha: 0.2);
    color: $dark-red;
    text-decoration: none;
    @include responsive(l) {
        display: none;
    }
}

.big-banner__container {
    width: 92%;
    text-align: center;
    padding-top: 9vh;
}

.big-banner__title {
    font-size: 52px;
    padding: 8px 0;
    color: $white;
    background-color: rgba($color: $black, $alpha: 0.1);
    span {
        color: $mid-yellow;
    }
}

// MOD
.navbar__link:hover {
    @include responsive(l) {
        transition: 0.2s ease;
        background-color: #b20000;
        color: $white;
    }
}

.big-banner--responsive {
    @include responsive(s) {
        justify-content: flex-end;
        align-items: center;
    }
    @include responsive(m) {
        min-height: 80vh;
        justify-content: center;
    }
    @include responsive(l) {
        min-height: 85vh;
        justify-content: flex-start;
    }
}

.big-banner__title--theme {
    @include responsive(s) {
        background-color: rgba($color: $black, $alpha: 0.6);
    }
    @include responsive(m) {
        font-size: 62px;
        padding: 10px 12px;
        background-color: rgba($color: $black, $alpha: 0.4);
    }
    @include responsive(l) {
        font-size: 50px;
        background-color: $dark-red;
        border-radius: 0 20px 20px 0;
        border-bottom: 0 none;
        box-shadow: 0 10px 6px -6px $black;
    }
    @include responsive(xl) {
        text-align: center;
        font-size: 56px;
        padding: 10px 25px;
    }
}

.big-banner__container--responsive {
    @include responsive(s) {
        margin: 0;
        padding: 0;
        width: 35%;
        text-align: right;
    }
    @include responsive(m) {
        width: 650px;
        padding: {
            bottom: 8vh;
        }
        text-align: center;
    }
    @include responsive(l) {
        width: 400px;
        padding-top: 9vh;
    }
    @include responsive(xl) {
        width: 450px;
    }
}