// BLOCK
.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 15px;
    // @include responsive(xl) {
    //     padding-top: 20px;
    // }
}

// ELEMENT
.navbar__link {
    text-decoration: none;
    color: $black;
    font-size: 15px;
    @include responsive(s) {
        font-size: 17px;
    }
    @include responsive(m) {
        font-size: 19px;
    }
    @include responsive(l) {
        font-size: 21px;
    }
    @include responsive(xl) {
        font-size: 24px;
    }
}

// MOD