/* PALETTE COLORS */

$dark-red: #A11213;
$red: #EE3233;
$light-red: #FF4F50;
$dark-green: #015418;
$light-green: #028727;
$black: #141414;
$white: #FFFFFF;
$yellow: #EEFF0C;
$dark-yellow: #B19512;
$mid-yellow: #e6cc00;
/* SOCIAL NETWORK ICON COLORS */

$fb-icon-color: #3b5998;
$twitter-icon-color: #0084b4;
$youtube-icon-color: #FF0000;
$instagram-icon-color: #9b6954;
/* MEDIA QUERY BREAKPOINTS */

$s: "screen and (min-width: 576px)";
$m: "screen and (min-width: 768px)";
$l: "screen and (min-width: 992px)";
$xl: "screen and (min-width: 1400px)";
@mixin responsive($device) {
    @if $device==s {
        @media only #{$s} {
            @content;
        }
    }
    @else if $device==m {
        @media only #{$m} {
            @content;
        }
    }
    @else if $device==l {
        @media only #{$l} {
            @content;
        }
    }
    @else if $device==xl {
        @media only #{$xl} {
            @content;
        }
    }
}