@import 'variables';
@import 'media';
@import 'swiper';
@import 'form';
@import 'navbar';
@import 'section';
@import 'program';
@import 'requirements';
@import 'testimonials';
@import 'contact';
@import 'footer';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    font-family: 'Lato', sans-serif;
}

body {
    position: relative;
}

%flex {
    display: flex;
    flex-wrap: wrap;
}

#my-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#my-content {
    flex: 1;
}

#my-menu:not( .mm-menu) {
    display: none;
}